<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\Block\Switcher">
        <plugin name="remove_restricted_stores_from_switcher" type="MageSuite\StoreAccessRestriction\Plugin\Magento\Store\Block\Switcher\RemoveRestrictedStoresFromSwitcher"/>
    </type>
</config>
